@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@font-face {
  font-family: Bebas Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}


:root {
  --paytone: "Paytone One", sans-serif;
  --dark-violet: #121d46;
  --pink: #ec518f;
  --cyan:#33CCCC;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--cyan);
    height: 120px;
    width: 100vw;
    max-width: 100vw;
    
}

#logo-container{
  text-align: center;
}

#logo{
  margin-top: 20px;
  width: 130px;
}

#nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 
}

@media screen and (min-width: 700px) {
 
  button > #robot-img{
    left: 85vw;
  }

  #call-chatbot :hover{
    cursor: pointer;
 
}
}