@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@font-face {
  font-family: Bebas Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

:root {
  --paytone: "Paytone One", sans-serif;
  --dark-violet: #121d46;
  --pink: #ec518f;
}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden; 
  max-width: 100vw;
}

#logo{
  width: 170px;
}

main{
    margin: auto;
}

h2{
    margin-top: 30px;
    text-align: center;
    font-family: Bebas Neue, cursive;
    font-size: 32px;
}
.container{
    margin: 30px; 
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: lighter;
    padding: 30px;
    width: 52vw;
    margin: auto;
    color: var(--dark-violet);
}

#social-container > button{
 background-color: #ffffff00; 
 border: none;
 font-size: 35px;
 padding: 10px;
 cursor: pointer;
}

img{
    width: 500px;
    border-radius: ;
}