@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@font-face {
  font-family: Bebas Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

:root {
  --paytone: "Paytone One", sans-serif;
  --dark-violet: #121d46;
  --pink: #ec518f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo{
    width: 170px;
    margin: auto;
}

img{
    width: 300px;
    padding: 20px;
}

main{
    text-align: center;
}

h2{
    font-size:35px;
    font-family: Bebas Neue, sans-serif;
    margin-top: 20px;
}

h3{
    background-color: #121d46;
    color: #ffffff;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    width: 40vw;
    font-family: Bebas Neue, sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    width: 40vw;
    margin: auto;
    text-align: justify;
    color: #121d46;
    border: 3px solid aqua;
    border-radius: 12px;
    padding: 30px;
    text-indent: 13px;
}

button {
    margin-left: 25px;
    margin-top: 20px;
    padding: 13px;
    border-radius: 30px;
    border: none;
    width: 320px;
    box-shadow: 10px 10px var(--pink);
    background-color: var(--dark-violet);
    color: #fffcfd;
    text-decoration: none;
    font-size: 30px;
    font-family: Bebas Neue, sans-serif;
    font-weight: lighter;
    transition: .3s;
  }
  
  button:hover {
    padding: 15px;
    box-shadow: 12px 15px var(--pink);
    transition: 0.3s;
    text-decoration: underline;
  }
  
  button:active {
    transform: scale(0.9, 0.9);
  }

  .container-course{
    margin-top: 150px;
  }

  footer{
    margin-top: 35px;
    padding: 10px;
    background-color: #121d46;
    color: white;
    font-family: Bebas Neue, sans-serif;
    font-size: 20px; 
  }

  footer span > a{
    color: #ec518f;
    text-decoration: none;
  }

  footer > a:hover{
    font-size: 23px;
  }