@media screen and (min-width: 800px){
    p{
      text-align: center;
    }
  
  #skills-container{
    align-items: center;
    justify-content: center;
  }
  
  h2{
    font-size: 40px;
  }

  #menu-button{}
  }