@import url("https://fonts.googleapis.com/css2?family= Paytone +One & display=swap");

@font-face {
  font-family: Bebas Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

:root {
  --paytone: "Paytone One", sans-serif;
  --dark-violet: #121d46;
  --pink: #ec518f;
}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden; 
  max-width: 100vw;
}

#logo{
  width: 10px;
}

header{
  background-color: var(--cyan);
  height: 200px;
  max-width: 100vw; 
}

#logo-container{
text-align: center;
}

#logo{
margin-top: 20px;
width: 170px;
}

#menu-button{
background-color: #33cccc00;
border: none;
margin: 15px;
position: relative;
left: 410px;
bottom: 5px;
font-size: 42px;
color: white;

}


#links-menu{
display: none;
background-color: white;
position: absolute;
width: 100vw;
text-align: center;
height: 160px;
}

.nav-link{
padding: 10px;
list-style: none;
}

.nav-link > a{
text-decoration: none;
font-family: Bebas Neue, cursive;
font-size: 22px;
color: #121d46;
}



section > h2{
  font-family: Bebas Neue, cursive;
  font-size: 28px;
  padding: 12px;  
}

section{
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

#tec-img{
  width: 300px;
}

#nav-course{
  font-family: Bebas Neue;
  font-size: 32px;
  color: var(--cyan);
}

footer{
  text-align: center;
  background-color: var(--cyan);
  padding: 22px;
  color: white;
  font-family: Bebas Neue;
  font-size: 22px;
  max-width: 100vw;
}

footer > p > a{
  padding: 2px;
  color: #121d46;
}



#skills-container{
  display: flex;
  margin: auto;
  padding: 20px;
}

.skills-course{
  padding: 20px;
}

.skills-course > li{
  text-align: left;
  font-size: 20px;
  font-family: var(--paytone);
  font-weight: bold;
  color: var(--cyan);
  margin-bottom: 9px;
}

#dev-img{
  width: 180px;
}

#ling-img{
  margin-top: 25px;
  width: 350px;
}

#chatbot-container{
  display: flex;
  float: right;
  mar
}

#robot-img{
  width: 100px;
  position: fixed;
}

#programmer-img{
  width: 400px;
}

@media screen and (min-width: 800px){
  p{
    text-align: center;
  }

#skills-container{
  align-items: center;
  justify-content: center;
}

h2{
  font-size: 40px;
}
}