@import url("https://fonts.googleapis.com/css2?family= Paytone +One & display=swap");

@font-face {
  font-family: Bebas Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

:root {
  --paytone: "Paytone One", sans-serif;
  --dark-violet: #121d46;
  --pink: #ec518f;
}

* {
  padding: 0;
  margin: 0;
}


#logo{
  width: 10px;
}